[core]
	editor = nvim
	excludesFile = ~/.gitignore_global
	pager = delta
[user]
	initials = JNJ
	email = jesper.nellemann@gmail.com
	name = Jesper Nellemann Jakobsen
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[commit]
	template = ~/.git_commit_message
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[apply]
	whitespace = nowarn
[fetch]
	prune = true
[diff]
	colorMoved = default
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"

	# Difftastic: https://difftastic.wilfred.me.uk/git.html
    # `git log` with patches shown with difftastic.
    dl = -c diff.external=difft log -p --ext-diff
    # Show the most recent commit with difftastic.
    ds = -c diff.external=difft show --ext-diff
    # `git diff` with difftastic.
    dft = -c diff.external=difft diff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[delta]
	features = line-numbers decorations; disabled side-by-side
	syntax-theme = ansi
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-decoration-style = none
	file-style = bold yellow ul
[github]
	user = bingocaller
[init]
	defaultBranch = main
[status]
	relativePaths = true
