[core]
  editor = nvim
  excludesFile = /Users/bingocaller/.gitignore_global
  pager = delta
  ; pager = diff-so-fancy | less --tabs=2 -RFX
[user]
  initials = JNJ
  email = jesper.nellemann@gmail.com
  name = Jesper Nellemann Jakobsen
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
; [color "diff-highlight"]
;   oldNormal = red bold
;   oldHighlight = red bold 52
;   newNormal = green bold
;   newHighlight = green bold 22
; [color "diff"]
;   meta = 11
;   frag = magenta bold
;   commit = yellow bold
;   old = red bold
;   new = green bold
;   whitespace = red reverse
[push]
  default = simple
[pull]
  rebase = false
[commit]
	template = /Users/bingocaller/.git_commit_message
  # template = /Users/bingocaller/.git-commit-template
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[apply]
  whitespace = nowarn
[fetch]
  prune = true
[diff]
  colorMoved = default
[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
; [pager]
;   diff = diff-so-fancy | less --tabs=2 -RFX
;   show = diff-so-fancy | less --tabs=2 -RFX
[interactive]
  diffFilter = delta --color-only
[delta]
  features = line-numbers decorations side-by-side ; disabled side-by-side
  syntax-theme = ansi
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-decoration-style = none
  file-style = bold yellow ul
[github]
  user = bingocaller
[init]
	defaultBranch = main
[status]
	relativePaths = true
