xvt*iconFile: /usr/share/icons/Faenza/apps/32/utilities-terminal.png
IRC*iconFile: /usr/share/icons/Faenza/apps/32/xchat.png
URxvt.geometry: 80x22
! URXVT FONTS
!------------------------------------------------
URxvt.font:xft:Hack:pixelsize=14
URxvt.boldFont:xft:Hack:bold:pixelsize=14
URxvt.italicfont:xft:Hack:italic:pixelsize=14
URxvt.bolditalicFont:xft:Hack:bold:italic:pixelsize=14
URxvt*letterSpace: 0
URxvt*allow_bold: true
! URXVT FONT SETTINGS
!------------------------------------------------
Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
! URXVT ENABLE LINK SUPPORT
!------------------------------------------------
URxvt.perl-lib: /home/luca/Documenti/perl/
URxvt.perl-ext-common: default,matcher,clipboard
!tabbed
URxvt.matcher.button: 1
URxvt.perl-ext: default
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true
!disable the fucking bell
URxvt.insecure: false
! URXVT COPY PASTE SHORTCUTS
!------------------------------------------------
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
! URXVT SCROLLBAR AND CURSOR STYLE
!------------------------------------------------
URxvt*saveLines: 300000
URxvt.scrollBar: false
!URxvt*scrollstyle: plain
URxvt*cursorBlink: true
URxvt*cursorBlock: true

! URXVT TABS
!------------------------------------------------
URxvt.tabbedex.autohide: yes
URxvt.tabbedex.tabbar-fg: 2
URxvt.tabbedex.tabbar-bg: 0
URxvt.tabbedex.tab-fg: 10
URxvt.tabbedex.tab-bg: 0
URxvt.tabbedex.title: yes
URxvt.tabbedex.new-button: no
! URXVT FULLSCREEN TOGGLE
!------------------------------------------------
URxvt.keysym.F11: perl:fullscreen:switch
! URXVT COLORS
!------------------------------------------------
! vim: set filetype=xdefaults :

! Base16 Bright
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #000000
#define base01 #303030
#define base02 #505050
#define base03 #b0b0b0
#define base04 #d0d0d0
#define base05 #e0e0e0
#define base06 #f5f5f5
#define base07 #ffffff
#define base08 #fb0120
#define base09 #fc6d24
#define base0A #fda331
#define base0B #a1c659
#define base0C #76c7b7
#define base0D #6fb3d2
#define base0E #d381c3
#define base0F #be643c

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

